* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

.container {
  width: 90%;
  height: 100%;
  background-color: #eeeeee;
  margin: auto;
  padding: 40px;
}

.game-board {
  display: grid;
  width: 45%;
  margin: auto;
  background-color: #000000;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  color: #000000;
}

.square {
  background-color: #dddddd;
  text-align: center;
  padding-bottom: 100%;
}
