* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

.container {
  width: 90%;
  height: 100%;
  background-color: #eeeeee;
  margin: auto;
  padding: 40px;
}

.game-board {
  display: grid;
  width: 470px;
  margin: auto;
  background-color: #000000;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  color: #000000;
}

.square {
  background-color: #dddddd;
  text-align: center;
  font-size: 120px;
  line-height: 150px;
  font-family: 'Source Code Pro', monospace;
  cursor: pointer;
}

.square:hover {
  background-color: #cccccc;
}
