* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font: 16px 1.5px sans-serif;
}

.container {
  width: 90%;
  height: 100%;
  background-color: #eeeeee;
  margin: auto;
  padding: 40px;
}

.game-board {
  display: grid;
  width: 470px;
  margin: auto;
  background-color: #000000;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  color: #000000;
}

.square {
  background-color: #dddddd;
  text-align: center;
  font-size: 120px;
  line-height: 150px;
  font-family: 'Source Code Pro', monospace;
  cursor: pointer;
}

.square:hover {
  background-color: #cccccc;
}

/* popup */
.popup {
  background-color: #fff;
  width: 300px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
}
.popup h2 {
  font-size: 40px;
}

/* BUTTON */
.restart-container {
  margin: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  cursor: pointer;
  outline: none;
  font-size: inherit;
  text-align: center;
}
